snippet init "class init function" b
def __init__(self):
	${1:pass}
endsnippet

snippet fh "Python file head" b
#!/usr/bin/env python
# -*- coding:utf-8 -*-
# Author: wxnacy <wxnacy@gmail.com>
# Description: ${1:desc}
endsnippet
